<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Поиск авторов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>

    <h3>Авторы</h3>
    <p>Фамилия: [ {{#each last_name_nvc}} {{{this}}} {{/each}} ]</p>
    <p>Имя: [ {{#each first_name_nvc}} {{{this}}} {{/each}} ]</p>
    <p>Отчество: [ {{#each middle_name_nvc}} {{{this}}} {{/each}} ]</p>

    <ul>
        {{#each authors}}
            <li>{{{this}}}</li>
        {{/each}}
    </ul>

      <!-- <a href="{{url}}">{{title}}</a> -->
    <a href="/">домой</a>

</body>
</html>