<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Поиск авторов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

    <h3>Авторы</h3>
    <p>
        Фамилия:
        <a href="/find_authors/{{first_name}}/{{middle_name}}/{{last_name_previous}}/">[{{last_name_previous}}]</a>
        [ {{#each last_name_nvc}} {{{this}}} {{/each}} ]
        <a href="/find_authors/{{first_name}}/{{middle_name}}/-/">[X]</a>
    </p>
    <p>
        Имя:
        <a href="/find_authors/{{first_name_previous}}/{{middle_name}}/{{last_name}}/">[{{first_name_previous}}]</a>
        [ {{#each first_name_nvc}} {{{this}}} {{/each}} ]
        <a href="/find_authors/-/{{middle_name}}/{{last_name}}/">[X]</a>
    </p>
    <p>
        Отчество:
        <a href="/find_authors/{{first_name}}/{{middle_name_previous}}/{{last_name}}/">[{{middle_name_previous}}]</a>
        [ {{#each middle_name_nvc}} {{{this}}} {{/each}} ]
        <a href="/find_authors/{{first_name}}/-/{{last_name}}/">[X]</a>
    </p>

    <ul>
        {{#each authors}}
            <li>{{{this}}}</li>
        {{/each}}
    </ul>

      <!--  -->
    <a href="/">домой</a>

</body>
</html>