<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Поиск по названию</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        table, th, td { border: 0px solid black; border-collapse: collapse; }
        th, td { padding: 5px; }
    </style>
</head>
<body>

    <h3>Поиск по наименованию : {{book_title}}...</h3>

    <table>
    <tr><th>Возможные варианты</th><th></th><th></th><th></th></tr>
        <tr>
            <td align="right">Наименование</td>
            <td><a href="/titles/-/">[Сброс]</a></td>
            <td><a href="/titles/{{previous}}/">[{{previous}}]</a></td>
            <td>{{#each titles_nvc}} {{{this}}} {{/each}}</td>
        </tr>
    </table>

    <ul>
        {{#each titles}}
            <li>{{{this}}}</li>
        {{/each}}
    </ul>

    <a href="/">домой</a>

</body>
</html>